.message{
    position:absolute;
    z-index: 1000;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--alert-danger-color);
    border: 1px solid var(--border-color);
    color: var(--text-primary);
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;

}
.message:hover{
    border: 2px solid var(--alert-confirm-color);
}

.addSnippetContainer{
    position: absolute;
    height: max-content;
    width: max-content;
    bottom: 15px;
    display: flex;
    align-self: center;
    background-color: var(--alert-confirm-color);
}
.addSnippetContainer:hover .addSnippetComment{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.addSnippetBTN{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 125px;
    font-size: x-large;
    color: var(--editor-bg);  
}
.addSnippetComment{
    position: absolute;
    bottom: 30px;
    background-color: var(--alert-confirm-color);
    border-radius: 2px;
    padding: 1px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease, visibility 0s linea 1.5s; 
}


/*styleing of the elements*/
.sidebar, .mainPanel{
    background-color:var(--bg-container);
    padding: 3px;
    color: var(--text-primary);
    border: 1px solid;
    border-color: var(--border-color);
}
.sidebar{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.mainPanel{
    padding: 0;
    background-color: var(--editor-bg);
    border-top-left-radius: 2px;
    border-bottom-left-radius:2px ;
}
.topSidebar{
    height: 25px;
    width: 100%;
    text-align: center;
    border-bottom:1px solid;
    border-color: var(--border-color);
}
.topMainPanel, .addSnippetPanel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    align-items: center;
    margin: 0;
    min-height: 30px;
    background-color: var(--bg-container);
    border-bottom:1px solid ;
    border-color: var(--border-color);
}
/*toggel between add snippet panel and default panel */

.hidden{
    display: none;
}

.TMP{
    display: flex;
    gap: 5%;
    width: 50%; 
    font-size: small;
}

#language_TMP{
    opacity: 0.5;
}

/* add snippet mode rop panel */

.addSnippetPanel{
    justify-content: start;
    gap: 5px;
}
.functions{
    justify-content: end;
}

.addSnippetName{
    width:130px ;
    font-size: small;
}

.addSnippetLanguage{
    font-size: small;
    width:100px ;
}

.dropdown .options{
    display: none;
    height: 100px;
    overflow: auto;
    font-size: small;
    position: absolute;
    background: #222;
    color: #eee;
}
.dropdown:focus-within .options{
    display: block;
    z-index: 2;

}
.option:hover{
    color: rgb(14, 116, 29);
    cursor: pointer;
}

.editorPanel{
    height: calc(100% - 30px);
    width:100%;
    background-color: #0A120A;
}

/*tabs in sidebar*/
.tabSpace{
    display: flex;
    flex-direction:column;
    position: relative;
    gap: 5px;
    flex: 1;
    overflow-y: auto;
    padding-bottom: 50px;
}
.tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background-color: var(--bg-container);
    border-radius: 2px;
    cursor: pointer;
    font-size:14px;
}
.tab:hover{
    background-color: var(--hover--color);
}
.tab.active{
    background-color: var(--hover--color);
    border-left: 1px solid var(--text-secondery);
}

.snippetEditWindow{
 position: absolute;
 text-align: center;
 width: 40px;
 height: 30px;
 left: 100px;
 background-color: var(--editor-bg);
 z-index: 3;

}
.snippetName {
    flex: 1;
    text-align: left;
}

.snippetLanguage {
    margin-left: 15px;
    font-size: 0.8em;
    opacity: 0.7;
}